version: '3.8'

services:
  interview-agent:
    #build: .
    image: interview-agent:v1.0.0
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - ENV=production